.adminbody{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-start;
    margin:40px;
    margin-left: 20px;
    border: 1px solid grey;
}

.admindbody{
    display:flex;

}
.imge{
    
   object-fit: contain;
   height: 100px;
    margin-left: 20px;
}
.delete-text{
    margin-top: 40px;
    margin-left: 50px;
}
.dhr{
    width:100%!important;
    margin-left: 2px;
}

.delbtn{
    color:white;
    background-color: red;
    width:50px;
    height:30px;
    margin-top: 20px;

}