.adminbody{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-start;
    margin:40px;
    border: 1px solid grey;
}

.admindbody{
    display:flex;

}
.imge{
    object-fit: contain;
    width:300px;
    height: 250px;
}
.delete-text{
    margin-left: 50px;
}
.dhr{
    width:100%!important;
    margin-left: 2px;
}