.formbody{
    display: flex;
    justify-content: center;
    margin:5%;
    
}

.loginContainer{
    background-color: lavender;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width:650px;
}
.loginContainer >h1{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    margin:20px;
    margin-top: 0px;
}
.errorMsg{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.avg{
    height:85px!important;
    width:55px!important;
}

.loginContainer > input{
    outline: none;
    margin: 10px;
    width:350px;
    height: 30px;
    padding: 10px;
}

.btncontainer> button{
    margin-top: 15px;
    width:100px;
    height: 30px;
}
@media only screen and (max-width: 600px){
    .loginContainer > input{
        
        width:230px;
        
    }
}