/* .bg-model{

    display: flex;
    justify-content: center;
    margin-top: 5%;
  
    
    
}


.model-content{
   
    width: 500px;
    height: 450px;
    background-color:#b3ffb3;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    position: relative;
    
}
.form > input{
    outline: none;
    padding: 5px;
    width: 70%;
    height: 30px;
    display: block;
    margin: 15px auto;
}
.avatar{
    width:80px!important;
    height: 80px!important;
    margin-left: 40%;
    margin-bottom: 25px;
    margin-top: 20px;
}

.text-form{
   margin-top: 8px;
   color:grey;
    text-transform: capitalize;
}
.btn{
  
        font-size: 15px;
        color:white;
        margin-top: 20px;
        padding: 10px;
        text-align: center;
        width: 250px;
        height: auto;
        border-radius: 10px;
        background-color: lightseagreen;

}

.btn:hover{
    background-color: lightgreen;
}
@media only screen and (max-width: 600px){
    .model-content{
        width: 300px;
        height: 380px;
    }
    .avatar{
       
        margin-left: 35%;
        margin-bottom: 25px;
    }
} */