.background-image{
    min-height: calc(99vh - 66px);
    background: url("../images/anish-min.jpg") center/cover no-repeat;
    height: 400px;
    display : flex;
    align-items: center;
    
    
    
  }