.title{
    display: flex;
    justify-content: center;
}
.title > h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 60px;
    font-size: 60px;
    text-transform: uppercase;
    color:grey;
}

@media only screen and (max-width: 600px){
    .title > h1{
    
        font-size: 30px;
        
    }

}